/* ----- Body y Fondo ------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    text-align: center;
}

/* -------- Header inicio ------------- */
header {
    top: 0;
    left: 0;
    min-width: 100vw;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .mangacomics {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header i {
    font-size: 30px;
    margin: 0 10px;
    align-self: center;
    text-decoration: none;
    color: white;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;


}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    font-family: "Poppins";
}

.navlist a:hover {
    border-bottom: 2px solid white;
}


.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    background-color: #2b1055;
    padding: 20px;
    border: 1px solid black;
}

/* ---------- Cajas Biblioteca ------------ */

.flex-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.caja {
    border: 4px solid black;
    background-color: lightgray;
    color: black;
    font-family: "Poppins";
    font-weight: bold;
    width: 190px;
    height: 310px;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.biblioteca-productos {
    font-family: "Poppins";
    text-decoration: none;
    color: white;
}



.caja img {
    width: 100%;
    height: 100%;
}

.caja div {
    margin: 10px;
}


.caja {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ------ Populares -------- */


.populares-productos {
    font-family: "Poppins";
    text-decoration: none;
    color: white;
}

.container-populares {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grid-popular {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    background-color: #2b1055;
    padding: 20px;
    border: 1px solid black;
}

.cajaa {
    border: 4px solid black;
    background-color: lightgray;
    color: black;
    font-family: "Poppins";
    font-weight: bold;
    width: 190px;
    height: 310px;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cajaa img {
    width: 100%;
    height: 100%;
}

.cajaa div {
    margin: 10px;
}


.cajaa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media(max-width:768px){
    .header{
        display:none;
    }
}

/* ----- Footer ------ */

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: purple;
}

footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* ----- Login ------ */

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #2b1055;
    background: url();
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioSesion {
    font-size: 2em;
    font-family: "Poppins";
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;

}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/*----- Noticias ------*/


.novedadesTitulo {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* -----Inicio Responsive------ */

body {
    font-family: 'Poppins', sans-serif;
}


@media (max-width: 400px) {

    /* Estilos para el header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .mangacomics {
        font-size: 24px;
        width: auto;
        overflow: visible;
        white-space: nowrap;
        text-overflow: initial;
    }

    .menu-hamburguesa {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        background-color: transparent;
    }

    .navbar-toggler {
        padding: 0;
    }

    .navbar-toggler-icon {
        font-size: 14px;
    }

    .navlist {
        display: none;
    }

    .menu-hamburguesa a:first-child {
        font-size: 16px;
        padding-right: 5px;
    }


}

@media(min-width: 1024px){
    #bars{
        display: none;
    }
    .header{
        padding-left: 20px;
    }
}

@media(max-width: 400px){
nav{
    display: none;
    font-weight: 50px;
    padding-left: 120px;
}
}


/* ====== Noticias ======== */

.flex-container-noticias>div {
    width: 500px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2b1055;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}


.flex-container-noticias {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    background-color: #2b1055;
    padding: 10px;
    border: 1px solid black;
}


.ver-mas-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mas-button:hover {
    background-color: #0056b3;
}


